<form method="post" action="/feedback">
  <h2>Feedback form</h2>
  <div>
    <fieldset>
      <legend>Mood</legend>
      <label><input type="radio" name="mood" checked value="0">no answer</label>
      <label><input type="radio" name="mood" value="1">1 - unhappy</label>
      <label><input type="radio" name="mood" value="2">2</label>
      <label><input type="radio" name="mood" value="3">3</label>
      <label><input type="radio" name="mood" value="4">4</label>
      <label><input type="radio" name="mood" value="5">5 - amazed</label>
    </fieldset>
  </div>
  <div>
    <label>
      What&apos;s working for you? What could be better? Please include a URL if it&apos;s relevant.
      <br>
      <textarea name="text" cols="70" rows="10"></textarea>
    </label>
  </div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>