<form method="get" action="/instagram">
<h2>Feeds of Instagrammers</h2>
  <p>Looking for some inspiration? Try <q>nasa</q>.</p>
  <div>
    <label class="label-with-input">
      Instagram username
      <input name="username" type="text" required />
    </label>
  </div>
  <button>Go to Instagram feed</button>
</form>