<form method="get" action="/v1">
  <h2>Filter feed</h2>
  <div>
    <label class="label-with-input">
      RSS/Atom Url
      <input name="source" type="url" required />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title starts with
      <input name="title-startsWith" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title ends with
      <input name="title-endsWith" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title contains
      <input name="title-contains" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title doesn&apos;t contain
      <input name="title-containsNot" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Category must be
      <input name="category" type="text" />
    </label>
  </div>

  <p>
    <button type="submit">Go to feed</button>
    <button type="reset">Reset form</button>
  </p>
</form>
