<form method="get" action="/v2/view">
  <h2>Filter feed</h2>
  <div>
    <% if (typeof feedSuggestions !=='undefined') { %>
    <datalist id="feed-url-suggestions">
      <% feedSuggestions.forEach((suggestion)=> { %>
        <option value="<%= suggestion.url %>">
      <% }); %>
    </datalist>
    <label class="label-with-input">
      RSS/Atom Url
      <input name="i" type="text" list="feed-url-suggestions" required />
    </label>
    <% } else { %>
    <label class="label-with-input">
      RSS/Atom Url
      <input name="i" type="text" list="feed-url-suggestions" required />
    </label>
    <% } %>
  </div>
  <div>
    <label class="label-with-input">
      Title starts with
      <input name="Ts" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title ends with
      <input name="Te" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title contains
      <input name="Tc" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Title doesn&apos;t contain
      <input name="TC" type="text" />
    </label>
  </div>
  <div>
    <label class="label-with-input">
      Category must be
      <input name="Kb" type="text" />
    </label>
  </div>
  <!-- <fieldset>
    <legend>Output format</legend>
    <label><input type="radio" name="output" checked>match input</label>
    <label><input type="radio" name="output" value="rss1" disabled>RSS 1.0</label>
    <label><input type="radio" name="output" value="rss2" disabled>RSS 2.0</label>
    <label><input type="radio" name="output" value="atom" disabled>Atom</label>
  </fieldset> -->
  <p>
    <button type="submit">Go to feed</button>
    <button type="reset">Reset form</button>
  </p>
</form>
