<!doctype html>
<html lang="en-US">
<head>
  <title>Hydrant</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <a href="/" class="logo">Hydrant</a>
    <nav>
      <ul>
        <li><a href="/docs" >Docs</a></li>
        <li><a href="/about" >About</a></li>
      </ul>
    </nav>
  </header>
