<%- include('imports/header'); %>
<main>
  <h1>About Hydrant</h1>
  <p>Follow creators on closed platforms using <strong>open formats</strong>!</p>
  <p>With the permission of content creators Hydrant shares content streams in RSS/Atom. You can follow Instagram accounts using any RSS reader.</p>

  <h2>The benefits</h2>
  <ul>
    <li>Interoperable: You're not tied to specific applications</li>
    <li>Filterable: Many feed readers support filtering content that will interest you</li>
    <li>Non-personalized: Hydrant can help to escape your news bubble</li>
    <li>Offline: Provided formats make it easy to consume content offline</li>
  </ul>
</main>
<%- include('imports/footer'); %>
