<%- include('imports/header'); %>
<main>
  <h1>Documentation</h1>
  <h2>Version 2</h2>
  <p>The URL is <code>/v2</code> and the following parameters must be provided as GET query params.
  <dl>
    <dt>i</dt>
    <dd>Input – The URL of an RSS feed</dd>
  </dl>
  
  <h3>Filters</h3>
  <p>Combine a property and a method to define a filter. As an example <code>?Ts=Update</code> will only show you posts with a title (T) starting (s) with Updates. All parts are case-sensitive.</p>
  <h4>Property</h4>
  <dl>
    <dt>C</dt>
    <dd>content</dd>
    <dt>K</dt>
    <dd>category</dd>
    <dt>T</dt>
    <dd>title</dd>
    <dt>U</dt>
    <dd>url</dd>
  </dl>
  <h4>Methods</h4>
  <dl>
    <dt>b</dt>
    <dd>be = equals</dd>
    <dt>B</dt>
    <dd>not be = does not equal</dd>
    <dt>c</dt>
    <dd>contains</dd>
    <dt>C</dt>
    <dd>does not contain</dd>
    <dt>e</dt>
    <dd>ends with</dd>
    <dt>E</dt>
    <dd>does not end with</dd>
    <dt>s</dt>
    <dd>starts with</dd>
    <dt>S</dt>
    <dd>does not start with</dd>
  </dl>
  <h3>Example</h3>
  <p>
    The release notes from Manjaro Linux filtered down to stable updates:
    <div>
      <code><a href="/v2?i=https%3A%2F%2Fforum.manjaro.org%2Fc%2Fannouncements.rss&Kb=Stable+Updates">/v2?i=https%3A%2F%2Fforum.manjaro.org%2Fc%2Fannouncements.rss&Kb=Stable+Updates</a></code>
    </div>
  </p>
</main>
<%- include('imports/footer'); %>
