<%- include('imports/header'); %>
<main>

  <% if (process.env.ENABLE_INSTAGRAM === 'true') { %>
    <%- include('forms/instagram'); %>
  <% } %>

  <%- include('forms/v2'); %>

  <h2>Bookmarklet</h2>
  <p>Drag this button into your browser's bookmarks for quick access to Hydrant on other websites.</p>
  
  <div>
    <style>
      .bookmark-button {
        display: inline-block;
        border: 1px solid grey;
        border-radius: 0.4em;
        background: #ddd;
        padding: 0.5em 1em;
        font-size: 0.9em;
        color: currentColor;
        text-decoration: none;
      }
    </style>
    <a id="bookmark-button-123" class="bookmark-button" href="javascript:window.location.href='<%= BASE_URL %>/v2/view?ref=bookmark&i='+encodeURIComponent(window.location.href)">Open in Hydrant</a>
    <script>
      document.getElementById('bookmark-button-123').addEventListener('click', (event) => {
        event.preventDefault();
        alert("Instead of clicking on this button, drag it into your browser's bookmarks.\nWhen visiting another website, click it to quickly open the feed in Hydrant.");
      });
    </script>
  </div>

  <%- include('forms/feedback'); %>
</main>
<%- include('imports/footer'); %>
