<%- include('imports/header'); %>
<main>
  <h1>Feed</h1>
  <% if (typeof errorMessage !== 'undefined') { %>
  <div class="error-box">
    <%= errorMessage %>
  </div>
  <% } %>
  <% if (typeof feedUrl !=='undefined' ) { %>
  Feed: <a href="<%= feedUrl %>" style="display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:100%"><%= feedUrl %></a>
  <% } %>
  <details>
    <summary>
      Edit the feed
    </summary>
    <%- include('forms/v2'); %>
  </details>
  <% if (typeof items !== 'undefined') { %>
  <h2>Preview</h2>
  <ol class="feed-preview">
    <style>
      .feed-preview {
        padding-left: 0;
      }

      .feed-preview li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
      }

      .feed-preview li:hover {
        background-color: #eee;
      }
    
      .feed-preview li>.title {
        flex-grow: 1;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: currentColor;
      }

      .feed-preview li a {
        color: currentColor;
      }

      .feed-preview .time {
        font-family: monospace;
      }
    </style>
    <% items.forEach((item) => { %>
    <li>
      <span class="title"><% if (typeof item.link === 'string') { %><a href="<%= item.link %>"><% } %>
      <%= typeof item.title === 'string' ? item.title : (item.title['#'] ?? item.title['$'] ?? 'failed to parse title') %>
      <% if (typeof item.link === 'string') { %></a><% } %></span>
      <span class="time"><%= formatDate(item.pubDate) %></span>
    </li>
    <% }); %>
  </ol>
  <% } %>
</main>
<%- include('imports/footer'); %>
