<%- include('imports/header'); %>
<main>
  <h1>Statistics</h1>
  <h2>Temporary files</h2>
  <ul>
    <% tmp.forEach((file) => { %>
    <li><%= file %></li>
    <% }); %>
  </ul>
</main>
<%- include('imports/footer'); %>
