<%- include('imports/header'); %>
<nav>
  <a href="/view">Feed suggestions</a>
</nav>
<main>
  <h1><%= !!locals.title ? title : 'RSS Reader' %></h1>
  <% if (typeof errorMessage !== 'undefined') { %>
  <div class="error-box">
    <%= errorMessage %>
  </div>
  <% } %>
  <% if (typeof suggestedFeeds !== 'undefined') { %>
  <ul>
    <% suggestedFeeds.forEach((feed) => { %>
    <li><a href="?source=<%= encodeURIComponent(feed.url) %>"><%= feed.title %></li>
    <% }); %>
  </ul>
  <% } %> 
  <% if (typeof items !== 'undefined') { %>
  <style scoped>
    ol {
      padding-left: 0;
    }
  </style>
  <ol class="feed-preview">
    <style>
      .feed-preview {
        padding-left: 0;
      }
  
      .feed-preview li {
        display: flex;
        border-bottom: 1px solid #eee;
      }
  
      .feed-preview li:hover {
        background-color: #eee;
      }
  
      .feed-preview li>a {
        flex-grow: 1;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
  
        color: currentColor;
      }
  
      .feed-preview .time {
        font-family: monospace;
      }
    </style>
    <% items.forEach((item) => { %>
    <li>
      <% if (typeof item.link === 'string') { %><a href="<%= item.link %>"><% } %>
      <%= typeof item.title === 'string' ? item.title : (item.title['#'] ?? item.title['$'] ?? 'failed to parse title') %>
      <% if (typeof item.link === 'string') { %></a><% } %>
      <%= new Date(item.pubDate).toUTCString() %>
    </li>
    <% }); %>
  </ol>
  <% } %>
</main>
<%- include('imports/footer'); %>
