:root {
  --dark: darkred;
  --white: #ffffff;
  --focus: darkred;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    line-height: 1.4;
    max-width: 800px;
    margin: 0px auto 1em;
    padding: 0 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 0 0.5em 1em;
    margin: 0 0 1em;
  }
}

header {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0.5em;
}

header a:any-link {
    color: var(--white);
    text-decoration: none;
}

header a.logo {
    font-size: 1.2em;
    font-weight: bold;
    flex-grow: 1;
}

header nav {
    font-size: 0.8em;
    text-transform: lowercase;
}

header nav li {
    list-style: none;
    display: inline;
}

header nav li:not(:last-of-type)::after {
    content: '|';
    margin: 0 0.5em;
}

main {
    margin: 0px 0.5em;
}

label.label-with-input {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.3em;
}

input:not([type="checkbox"]):not([type="radio"]), textarea {
    display: block;
    transition: box-shadow 100ms linear;
    border-radius: 6px;
    border: 1px solid grey;
    font-family: inherit;
    font-size: inherit;
    padding: 0.2em;
    outline: none;
    box-shadow: 0 0 0 0 var(--focus);
    width: 100%;
    resize: none;
    box-sizing: border-box;
    max-width: 400px;
}

input:not([type="checkbox"]):not([type="radio"]):focus, textarea:focus {
    border-radius: 6px;
    border: 1px solid grey;
    padding: 0.2em;
    border-color: var(--focus);
    box-shadow: 0 0 0 2px var(--focus);
}

button {
    border: 1px solid grey;
    background: #ddd;
    padding: 0.5em 1em;
    font-size: 0.9em;
}

button[type="submit"] {
    border: 1px solid grey;
    background: var(--dark);
    color: var(--white);
}

dd {
    margin-left: 1em;
}

.error-box {
    border: 1px red solid;
    color: darkred;
    border-radius: 6px;
    padding: 0.2em 1em;
}
